<style type='text/css'>

body {
  font-family: "Trebuchet MS", "Tahoma", "Verdana", "Sans-Serif";
  font-size: 12px;
  background: #fff;
  padding: 8px 10px;
}

h1, h2, h3, h4, h5 {
  font-family: "Lucida Grande", "Trebuchet MS", "Sans-Serif";
}

hr {
  color: #ccc;
  height: 1px;
  border: 1px solid #ccc;
}

table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  font-size: 11px;
}

td, th {
  padding: 2px 4px;
}

td {
  vertical-align: center;
}

th {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  font-weight: bold;
  background: #ffffe0;
  padding-left: 3px;
  padding-right: 3px;
}

tr.even td {
  background: #f0ffe0;
}

tr.odd td, tr.even td {
  color: #666;
}

tr.win td {
  font-weight: bold;
  color: #000;
}

table.stat-table {
  font-size: 12px;
  text-align: center;
}

table.stat-table td.stat-total {
  background: #bfbab0;
  color: #000;
}

table.stat-table td {
  text-align: center;
  font-weight: bold;
}

table.stat-table td.stat-win {
  color: #a70;
}

table.bordered th {
  padding: 5px;
  border: 1px solid #bbb;
}

table.bordered td {
  padding: 5px;
  border: 1px solid #ddd;
  vertical-align: top;
}

table.overall-stats th{
  text-align: left;
}

table.achievements {
  font-size: 11px;
  text-align: center;
  color: #777777;

}

table.achievements td {
  width: 16.3%
}

table.achievements th {
  background: #ffffdd;
  width: 16.3%

}

table.achievements th.done {
  background: #D1FFD1;
  font-weight: bold;
  color: #000000;
  
}

table.achievements td.done {
  background: #E8FCEF;
  font-weight: bold;
  color: #000000;
  
}

table.achievements tr.progress {
  font-size: 9px;
  font-style:italic;
  color: #666666;
}

</style>
